<html>
    {% include "base/head.html" %}
    <body>
        <div class="content">
            {% if session %}
                <a href="/logout">Logout</a>
                <div>
                    <h3>Player Ready</h3>
                    {% if playerready %}
                        <a href="/playerready/">Dashboard</a>
                        <a href="/playerready/shifttable">Shifts table</a>
                        <a href="/playerready/query">Query</a>
                    {% else %}
                        <a href="/playerready/activate">Activate</a>
                    {% endif %}
                </div>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
    </body>
</html>